
body { margin: 0; }

#monastery {
	width:98%;
	margin: 0 auto;
}
#widgets { width: 100%; }
.widget {
	display: block;
	position: relative;
	width: 100%;
	margin-bottom: 5%;
	background: none;
}
.widget svg {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
	margin:0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 35px;
}

.widget rect {
	stroke: white;
	stroke-width:1%;
}

.widget text {
	text-anchor: middle;
	opacity:1;
	-webkit-transition: all 150ms ease-in-out;
}

.hidden {
	opacity:0 !important;
}

/*path {
  fill: #ddd;
}*/

.arcgauge-metric {
	fill: cyan;
}


@media (min-width: 699px){
  .widget {
  	float:left;
  	width:49%;
  	margin: 2% 1% 0 0;
  }
}



.line {
  fill: none;
  stroke-width:1px;
}
.area {
  opacity: 0.6;
}

/*
$navy: #113F8C;
$blue: #00A1CB;
$teal: #01A4A4;
$green: #61AE24;
$forest: #32742C;
$yellow: #D0D102;
$orange: #F18D05;
$red: #E54028;
$pink: #D70060;
$purple: #A784B4;*/

/* color classes */

.line.white { stroke: #fafafa; }
.area.white { fill: #fafafa; }

.line.red { stroke: #E54028; }
.area.red { fill: #E54028; }

.line.forest { stroke: #32742C; }
.area.forest { fill: #32742C; }

